*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f4f6f8;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#2c2c2c;
}

.logo{
  color:#fff;
  font-weight:bold;
  font-size:20px;
}

.nav-link{
  list-style:none;
  display:flex;
  gap:20px;
}

.nav-link a{
  color:white;
  text-decoration:none;
}

.nav-link a:hover{
  color:#ff9800;
}

/* HERO */
.hero{
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(120deg,#ff9800,#ff5722);
  color:white;
}

.hero h1{
  font-size:42px;
  margin-bottom:10px;
}

.hero p{
  font-size:18px;
  margin-bottom:20px;
}

.btn-primary{
  background:white;
  color:#ff5722;
  padding:12px 25px;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
}

/* KATEGORI */
.kategori{
  padding:60px 40px;
  text-align:center;
}

.kategori h2{
  margin-bottom:40px;
}

.kategori-box{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.kategori-card{
  background:white;
  width:280px;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.kategori-card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.kategori-card h3{
  margin:15px 0 5px;
}

.kategori-card p{
  color:#555;
}

.btn-secondary{
  display:inline-block;
  margin:15px;
  padding:10px 20px;
  background:#ff9800;
  color:white;
  border-radius:20px;
  text-decoration:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#2c2c2c;
  color:white;
}
